@import "../../sass/breakpoints";

.portfolio-section {
  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    & > ul {
      display: flex;
      flex-direction: column;
      width: calc(100vw / 4);
      padding: 0;

      @include breakpoint("<=large") {
        width: calc(100vw / 3);
      }
    
      @include breakpoint("<=medium") {
        width: calc(100vw / 2);
      }
    
      @include breakpoint("<=small") {
        width: 100%;
      }
    }
  }
}

.portfolio-piece {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: fit-content;
  max-height: 600px;
  margin: 0;

  a {
    transition: box-shadow 0.2s ease;
    display: inline-block;

    &:hover {
      text-decoration: none;
      box-shadow: 0.2rem 0.2rem 1rem var(--light);

      img + div {
        transform: translateY(-100%);
      }

      div + div {
        transform: translateY(0);
      }
    }
  }

  img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }  
}

.header {
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 0;
  height: 8rem;
  padding: 1.25rem;
  width: 100%;
  vertical-align: baseline;

  h6 {
    position: relative;
    strong {
      color: white;
    }

    color: var(--light);
  }

  h4 {
    position: relative;
    font-size: 2rem;
    line-height: 1;
    color: white;
    z-index: 100;
  }

  &:before {
    position: absolute;
    transition: all 0.2s ease;
    left: 0;
    bottom: -20%;
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(
      transparent,
      transparent 0%,
      transparent 20%,
      var(--dark) 100%
    );
  }
}

.description {
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% - 0.75rem));
  padding: 1.25rem;
  width: 100%;

  background: var(--teal);

  h4,
  p {
    margin: 0;
    color: white;
  }

  p {
    padding-bottom: 1rem;
  }
}
