@import "../../sass/breakpoints";
@import "../../sass/_commonStyles.scss";

.portfolio-section {
  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    clip-path: polygon();

    & > ul {
      display: flex;
      flex-direction: column;
      width: calc(100vw / 4);
      padding: 0;

      @include breakpoint("<=large") {
        width: calc(100vw / 3);
      }

      @include breakpoint("<=medium") {
        width: calc(100vw / 2);
      }

      @include breakpoint("<=small") {
        width: 100%;
      }
    }
  }
}

.portfolio-piece {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: fit-content;
  max-height: 600px;
  margin: 0;

  a {
    transition: box-shadow 0.2s ease;
    display: inline-block;

    &:hover {
      text-decoration: none;
      box-shadow: 0.2rem 0.2rem 1rem var(--light);

      img + div {
        transform: translateY(-20%);
        bottom: 6rem;
      }

      div + div {
        transform: translateY(0);
      }
    }
  }

  img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }
}

.header {
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 0;
  height: fit-content;
  padding: 1.25rem;
  width: 100%;
  vertical-align: baseline;

  h6 {
    position: relative;
    strong {
      color: white;
    }

    color: var(--light);
  }

  h4 {
    position: relative;
    font-size: 2rem;
    line-height: 1;
    color: white;
    z-index: 100;
  }

  &:before {
    position: absolute;
    transition: all 0.2s ease;
    left: 0;
    bottom: -20%;
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(
      transparent,
      transparent 0%,
      transparent 10%,
      rgba(0, 0, 0, 0.6) 50%,
      var(--dark) 100%
    );
  }
}

.description {
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% - 0.75rem));
  padding: 1.25rem;
  width: 100%;

  background: var(--teal);

  h4,
  p {
    margin: 0;
    color: white;
  }

  p {
    padding-bottom: 1rem;
  }
}

.tags-section {
  display: flex;
  height: 0;
  width: 100%;
  transition: all 0.2s ease-in;

  & > div {
    background-color: rgba(0, 0, 0, 0.015);
    height: 100%;
    width: 50%;
    padding: 1rem;
    height: 120px;

    &:last-child {
      background-color: rgba(0, 0, 0, 0.045);

      @include breakpoint("<=xlarge") {
        height: 140px;
      }      

      @include breakpoint("<=large") {
        height: 200px;
      }      
      
      @include breakpoint("<=medium") {
        height: 150px;
        background-color: white;
      }      
      
      @include breakpoint("<=small") {
        height: 200px;
        background-color: white;
      }

      @include breakpoint("<=xsmall") {
        height: 300px;
        background-color: white;
      }
    }

    @include breakpoint("<=small") {
      height: 200px;
    }      

    @include breakpoint("<=medium") {      
      width: 100%;      
    }
  }  

  & > fieldset:not(:last-child) {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  @include breakpoint("<=medium") {
    display: block;
  }
}

.tags-section-show {
  height: 115px;

  @include breakpoint("<=xlarge") {
    height: 140px;
  }      

  @include breakpoint("<=large") {
    height: 160px;
  }      
  
  @include breakpoint("<=medium") {
    height: 250px;
    background-color: white;
  }

  @include breakpoint("<=small") {
    height: 270px;
  }

  @include breakpoint("<=xsmall") {
    height: 360px;
  }
}

.tags-filter-button {
  @extend .link-style;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--dark);
  outline: 0;
  background: 0;
  border: 0;
  float: right;
  cursor: pointer;
  margin: 0 0 0.5rem 0.5rem;

  @include breakpoint("<=medium") {
    float: none;
  }
}

.empty-portfolio-state {
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  padding: 2rem;
}
