@import "../../sass/breakpoints";

.portfolio-section {
  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.portfolio-piece {
  position: relative;
  overflow: hidden;
  width: fit-content;
  max-width: calc(100vw / 4);
  padding: 0;
  flex: 1 auto;
  height: fit-content;
  margin: 0;

  a {
    transition: box-shadow 0.2s ease;
    display: inline-block;

    &:hover {
      text-decoration: none;
      box-shadow: 0.2rem 0.2rem 1rem var(--light);

      img + div {
        transform: translateY(-100%);
      }

      div + div {
        transform: translateY(0);
      }
    }
  }

  img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }

  @include breakpoint("<=large") {
    max-width: calc(100vw / 3);
  }

  @include breakpoint("<=medium") {
    max-width: calc(100vw / 2);
  }

  @include breakpoint("<=small") {
    max-width: 100%;
  }
}

.header {
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 0;
  padding: 1.25rem;
  width: 100%;

  h6 {
    strong {
      color: white;
    }

    color: var(--light);
  }

  h4 {
    font-size: 2rem;
    color: white;
  }

  &:before {
    position: absolute;
    mix-blend-mode: color-burn;
    transition: all 0.2s ease;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: inherit;
    height: 200px;
    background: linear-gradient(
      transparent,
      transparent 0%,
      transparent 40%,
      var(--dark) 100%
    );
  }
}

.description {
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% - 0.75rem));
  padding: 1.25rem;

  background: var(--teal);

  h4,
  p {
    margin: 0;
    color: white;
  }

  p {
    padding-bottom: 1rem;
  }
}
