@import "../../sass/breakpoints";

.markdown {
  h3 {
    margin-top: 1rem;
  }

  h4 {
    margin-top: 4rem;
    font-size: 1.2rem;
  }

  p {
    video:first-child,
    img:first-child {
      width: 100%;
      max-height: 100vh;
      object-fit: cover;
    }
  }

  iframe {
    border: 1px solid var(--light);
  }

  table {
    font-size: 1.2rem;

    tr {
      display: flex;
      height: fit-content; 

      td {
        vertical-align: top;
      }

      td:first-child {
        min-width: 40%;
        
        img {
          width: 100%;
        }

        @include breakpoint("<=medium") {
          width: 100%;
        }
      }

      td:not(:first-child) {
        padding: 0 2rem;

        @include breakpoint("<=small") {
          margin-top: 1rem;
          padding: 0;
        }
      }

      @include breakpoint("<=small") {
        flex-direction: column;
      }
    }
  }
}

.spaced-span {
  display: block;
  margin-bottom: 1.5rem;
}

.checkbox-li {
  list-style: none;
  margin: 0;
  padding: 0;

  s {
    color: var(--gray);
  }
}

.embed {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light);
  height: fit-content;
  transition: all 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.01);
  margin-bottom: 2rem;

  &:hover {
    text-decoration: none;
    box-shadow: 0.2rem 0.25rem 0.5rem var(--light);
  }

  & > img {
    height: inherit;
    margin: 0 !important;
    width: 40% !important;
    border-right: 1px solid var(--light);
    border-bottom: none;

    @include breakpoint("<=small") {
      width: 100% !important;
      border-right: none;
      border-bottom: 1px solid var(--light);
    }
  }

  & > span {
    padding: 1rem;

    strong {
      display: block;
      margin-bottom: 0.5rem;
    }

    @include breakpoint("<=small") {
      display: block;
    }
  }

  @include breakpoint("<=small") {
    display: block;
    overflow: auto;
  }
}

p > .p-with-images {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  margin: 0;

  video,
  img {
    width: fit-content;
    vertical-align: top;
    height: 370px;
    object-fit: cover;

    @include breakpoint("<=medium") {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0.2rem;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
