.top-nav {
    position: sticky;
    top: 0;
    
    z-index: 5;

    
    ul {
        position: absolute;
        right: 1rem;
        width: fit-content;
        display: flex;
        gap: 1.5rem;
        list-style: none;

        a {
            font-weight: 300;
            color: var(--gray);
            font-size: 1.5rem;

            &:hover {
                text-decoration: none;
                color: var(--dark);
            }
        }
    }
}