.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transition: all 0.5s ease;
    height: 4rem;
    width: 100%;

    ul {
        position: absolute;
        right: 2rem;
        width: fit-content;
        display: flex;
        gap: 2rem;
        list-style: none;

        a {
            transition: color 0.2s ease-in;
            font-weight: 300;
            color: var(--gray);
            font-size: 1.5rem;

            &:hover {
                text-decoration: none;
                color: var(--dark);
            }
        }
    }
}

.top-nav.light {
    ul a {
        color: white;

        &:hover {
            text-decoration: none;
            color: var(--light);
        }
    }
}

.top-nav.with-background {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0.5rem var(--light);
}