@import "../../sass/breakpoints";

$medium-color: rgba(41, 41, 41, 1);

.wood-grain-background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 200vh;
  width: 100vw;
  transform: scaleX(2);
}

.section-description {
  align-self: center;
  margin: 0 auto;
  text-align: center;
  z-index: 5;

  h2,
  p {
    margin: 0 auto;
    width: 80%;
    max-width: calc(var(--siteWidth) - 200px);
  }

  a {
    color: rgb(41, 41, 41);
    text-decoration: underline;
  }

  h2 {
    color: $medium-color;
    line-height: 1;
    margin-bottom: 1.25rem;
    font-family: FuturaLight, Futura, sans-serif;
  }
}

.view-cta {
  font-size: 1rem;
}

.medium-section {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 720px;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(
      var(--light),
      var(--light) 20%,
      transparent 70%,
      brown 100%
    );
    opacity: 0.5;
  }
}

.medium-articles {
  list-style: none;
}

.date-issue {
  font-family: FuturaCondensedLight, Futura, sans-serif;
  color: var(--teal);
  display: block;
  position: absolute;
  top: 1.75rem;
  left: 1rem;
  font-weight: 200;
  font-size: 0.8rem;
  mix-blend-mode: difference;

  b {
    color: var(--teal);
    font-family: FuturaCondensed, Futura, sans-serif;
  }
}

.magazine-title {
  // mix-blend-mode: exclusion;
  font-family: FuturaCondensed, Futura, sans-serif;

  display: block;
  position: absolute;
  top: 2rem;
  left: 0.8rem;
  font-size: 4.5rem;
  z-index: 1;
  color: white;
  text-shadow: var(--dark) 0rem 0 1.25rem;

  b {
    color: var(--teal);
    font-family: FuturaCondensed, Futura, sans-serif;
  }

  @include breakpoint("<=small") {
    font-size: 3.5rem;
  }
}

.medium-article {
  position: absolute;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  margin: 0.25rem;
  border: 2px outset #eaeaea;
  border-right: 2px double var(--gray);
  box-shadow: 0.2rem 0.2rem 1rem #192627;
  padding: 0;
  transition: all 0.5s ease-in;
  filter: brightness(0.9);

  width: 15rem;
  height: 20rem;

  @include breakpoint("<=medium") {
    width: 12rem;
    height: 17rem;
  }

  @include breakpoint("<=xsmall") {
    width: 10.5rem;
    height: 14rem;
  }

  &:hover {
    box-shadow: 0.2rem 0.2rem 2rem var(--gray);
    filter: brightness(1);
    width: 15.15rem;
    height: 20.15rem;
    z-index: 2;

    @include breakpoint("<=medium") {
      width: 12.1rem;
      height: 17.1rem;
    }

    @include breakpoint("<=xsmall") {
      width: 10.6rem;
      height: 14.1rem;
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: -0.75rem;
    height: inherit;
    width: 1.2rem;
    z-index: 0;
    border-right: 3px double var(--light);
    opacity: 0.7;
    background-color: var(--dark);
  }

  & > a {
    position: absolute;
    top: -0.85rem;
    display: block;
    z-index: 0;
    width: inherit;
    height: 120%;
    background-size: cover;
    background-position: center -1rem;
  }

  h4 {
    position: absolute;
    bottom: 4rem;
    width: 60%;
    font-weight: 300;
    color: var(--light);
    background-color: rgb(0, 0, 0, 0.6);
    line-height: 1;
    padding: 0.5rem;
    margin-bottom: 0;

    @include breakpoint("<=small") {
      font-size: 0.8rem;
    }
  }

  p {
    font-size: 0.9rem;
    margin: 0.25rem 0 0.5rem;
    line-height: 1;
    padding: 0.5rem;
  }

  img {
    width: 100%;
  }

  &:nth-child(odd) h4 {
    left: 0.5rem;
    padding-left: 0.75rem;
  }

  &:nth-child(even) h4 {
    top: 7.5rem;
    height: fit-content;
    right: 0;
    text-align: right;
  }

  &:nth-child(1) {
    right: 20%;
    transform: rotate(-15deg);
    bottom: -10%;
    @include breakpoint("<=small") {
      right: -20%;
      bottom: 20%;
    }

    @include breakpoint("<=xsmall") {
      right: -35%;
      bottom: 40%;
    }
  }

  &:nth-child(2) {
    transform: translateY(-50%) rotate(40deg);
    bottom: -20%;
    left: 0;

    @include breakpoint("<=medium") {
      left: -5%;
      bottom: -25%;
    }

    @include breakpoint("<=small") {
      left: -35%;
      bottom: -10;
      transform: translateY(-50%) rotate(0deg);
    }
  }

  &:nth-child(3) {
    transform: translateY(-50%) rotate(240deg);
    top: 10%;
    right: 0;

    @include breakpoint("<=medium") {
      right: -10%;
    }

    @include breakpoint("<=xsmall") {
      right: -30%;
    }
  }

  &:nth-child(4) {
    bottom: 75%;
    transform: rotate(182deg);
    left: 60%;

    @include breakpoint("<=small") {
      left: 30%;
      top: -15%;
    }

    @include breakpoint("<=xsmall") {
      left: 20%;
    }
  }

  &:nth-child(5) {
    bottom: -10%;
    transform: rotate(-10deg);
    left: 20%;

    @include breakpoint("<=medium") {
      left: 10%;
      bottom: -10%;
    }

    @include breakpoint("<=xsmall") {
      bottom: -15%;
    }
  }

  &:nth-child(6) {
    bottom: -20%;
    transform: rotate(10deg);
    left: 45%;

    @include breakpoint("<=medium") {
      left: 37%;
      bottom: -12%;
    }

    @include breakpoint("<=xsmall") {
      left: 60%;
      bottom: -12%;
    }
  }

  &:nth-child(7) {
    right: 0;
    bottom: -5%;
    transform: rotate(20deg);

    @include breakpoint("<=small") {
      right: -10%;
      bottom: 0%;
    }

    @include breakpoint("<=xsmall") {
      right: -35%;
      bottom: 10%;
    }
  }

  &:nth-child(8) {
    left: 0;
    top: 0;
    transform: rotate(-30deg);

    @include breakpoint("<=medium") {
      top: -10%;
      left: -15%;
    }

    @include breakpoint("<=xsmall") {
      transform: rotate(10deg);
      left: -40%;
      top: 25%;
    }
  }

  &:nth-child(9) {
    left: 40%;
    top: -20%;
    transform: rotate(30deg);

    @include breakpoint("<=small") {
      left: -20%;
      top: 10%;
    }

    @include breakpoint("<=xsmall") {
      left: -20%;
      top: -10%;
    }
  }

  &:nth-child(10) {
    left: 20%;
    top: -10%;
    transform: rotate(-5deg);

    @include breakpoint("<=medium") {
      left: 20%;
    }

    @include breakpoint("<=small") {
      opacity: 0;
    }
  }
}
