@import "../../sass/_breakpoints";
@import "../../sass/_functions";
@import "../../sass/_vendor";

.about-me {
  min-height: 100vh;
  margin: 0 auto;

  background: linear-gradient(white, white 0%, #f8f8f8 100%);

  h2 {
    text-transform: uppercase;
    color: var(--dark);
    margin-bottom: 0;
    font-size: 2rem;

    @include breakpoint("<=medium") {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

.about-me-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 0.5rem solid var(--teal);

  @include breakpoint("<=medium") {
    width: 100%;
  }

  blockquote {
    background-color: transparent;
    color: var(--dark);
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: var(--strongFontFamily);
  }

  & > div {
    position: relative;
  }

  @include breakpoint("<=medium") {
    display: block;
  }

  div:last-child {
    max-width: calc(7 * var(--siteWidth) / 8);
    padding: 4rem;
    font-size: 1.2rem;
    line-height: 1.5;

    br {
      content: "";
      display: block;
      height: 1rem;
    }

    @include breakpoint("<=medium") {
      padding: 1rem 2rem;
    }
  }

  div {
    @include breakpoint("<=small") {
      padding: 0 2rem;
    }
  }
}

.about-me-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: calc(var(--siteWidth) + 125px);
  margin: 3rem auto;
  text-align: left;
  list-style: none;
  padding: 0;

  @include breakpoint("<=medium") {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint("<=small") {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }

  b {
    color: var(--dark);
    text-transform: uppercase;
    margin-left: -1rem;
  }

  strong {
    display: inline-block;
    margin-top: 1rem;
  }

  & > li {
    position: relative;
    padding: 2rem 1rem 2rem 2rem;
    margin: 0 auto;
    z-index: 1;
    box-shadow: 0.75rem 0.75rem 0 0.25rem var(--teal);
    border: 1px solid var(--light);
    width: 100%;
    height: fit-content;

    ul {
      margin: 0;
    }
  }
}

.list-of-tech {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0;
  list-style: none;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  row-gap: 1rem;

  li {
    margin: 0;
    padding: 0;
    height: 60px;
  }

  img {
    object-fit: contain;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
  }
}

.profile-picture {
  position: absolute;
  right: 0rem;
  padding: 0;
  overflow: hidden;

  @include breakpoint("<=medium") {
    position: static;
    margin: 0 auto;
    text-align: center;
  }

  & > span {
    display: block;
    width: 300px !important;
    height: 300px !important;
    border-radius: 50%;
  }

  img {
    // background-color: #FAFAFA;
    background-color: lighten(#50bfa0, 42%);
  }
}
