@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaBook.ttf");
  font-weight: 200;
}

@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaMedium.ttf");
  font-weight: 300;
}

@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaMediumItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaHeavy.ttf");
  font-weight: 400;
}

@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaHeavyItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaBold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: FuturaBook;
  src: url("/fonts/FuturaExtraBlack.ttf");
  font-weight: 600;
}

@font-face {
  font-family: FuturaBook;
  font-style: italic;
  src: url("/fonts/FuturaBookItalic.ttf");
}

@font-face {
  font-family: FuturaLight;
  src: url("/fonts/FuturaLight.ttf");
}

@font-face {
  font-family: FuturaLight;
  src: url("/fonts/FuturaMedium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: FuturaLight;
  src: url("/fonts/FuturaLightItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: FuturaCondensedLight;
  src: url("/fonts/FuturaLightCondensed.ttf");
}

@font-face {
  font-family: FuturaCondensed;
  src: url("/fonts/FuturaMediumCondensed.ttf");
  font-weight: 400;
}

@font-face {
  font-family: FuturaCondensed;
  src: url("/fonts/FuturaLightCondensedItalic.ttf");
  font-style: italic;
}
