@import "./breakpoints";
@import "./fonts.scss";

:root {
  --siteWidth: 1040px;
  --bottomMargin: 0.75rem;
  --borderRadius: 0.5rem;

  /**
   * Colors
   **/
  --teal: #50bfa0;
  --dark: #231f20;
  --gray: #666766;
  --active: #215e9e;
  --light: #eaeaea;

  /**
  * Vendor brand colors
  **/
  --dribbble: #ea4c89;

  /**
   * Fonts
   **/
  --fontFamily: FuturaBook, Helvetica, sans-serif;
  --headerFontWeight: 400;
  --bodyFontWeight: 200;

  --strongFontFamily: FuturaBook, Futura, sans-serif;

  --condensedFontFamily: FuturaCondensed, Futura, sans-serif;
  --condensedFontBoldWeight: 400;
}

* {
  box-sizing: border-box;
  font-family: var(--fontFamily);
  font-weight: var(--bodyFontWeight);
  color: var(--dark);
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

html {
  background-color: white;
}

/**
 * Typography
 **/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 0.25em 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 3rem;

  @include breakpoint("<=small") {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 1.35em;
  line-height: 1.75em;
  color: var(--gray);

  @include breakpoint("<=small") {
    font-size: 1.1em;
    line-height: 1.65em;
  }
}

h3 {
  font-size: 1.15em;
  line-height: 1.75em;

  @include breakpoint("<=small") {
    font-size: 1em;
    line-height: 1.65em;
  }
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

a {
  color: var(--teal);
  text-decoration: dashed;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 300;
}

b {
  color: _palette(fg-bold);
  font-weight: 400;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

/**
  * Containers
  **/

section {
  width: 100vw;

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}

/* Lists */

ol {
  list-style: decimal;
  margin: 0 0 _size(element-margin) 0;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  margin: 0 0 _size(element-margin) 0;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }

  &.alt {
    list-style: none;
    padding-left: 0;

    li {
      border-top: solid 1px _palette(border);
      padding: 0.5em 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }
}

dl {
  margin: 0 0 _size(element-margin) 0;
}

footer {
  height: var(--bottomMargin);
}

code {
  border-radius: 3px;
  font-size: 0.9em;
  letter-spacing: 0;
  padding: 0.25em;
  
  &, * {
    font-family: monospace !important;
  }
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: monospace !important;
  font-size: 0.9em;
  margin: 0 0 1rem 0;

  code {
    display: block;
    background: var(--light) !important;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;

    &, * {
      font-family: monospace !important;
    }
  }
}

svg {
  .teal {
    fill: var(--teal);
  }
  .gray {
    fill: var(--gray);
  }
  .light {
    fill: var(--light);
  }
  .white {
    fill: white;
  }
  .dark {
    fill: var(--dark);
  }
}

/**
  * Specific overrides
  **/

.wrapper {
  padding: 3rem 0;

  & > div {
    width: var(--siteWidth);
    margin: 0 auto;

    @include breakpoint("<=large") {
      width: 90%;
    }

    @include breakpoint("<=medium") {
      width: 100%;
      padding: 0 2.5rem;
    }

    @include breakpoint("<=small") {
      padding: 0 1rem;
      width: 100vw;
    }
  }

  &.alt {
    padding: 0;
  }
}

.page {
  @extend .wrapper;
  padding-top: 0;
}

.linkAnnotation {
  a {
    margin: 0;
  }
}
