@import "../sass/breakpoints";

.linkedin-anchor {
  color: rgb(10, 102, 194);

  b {
    font-size: 1.1rem;
    font-weight: normal;
    color: rgb(10, 102, 194);
  }

  &:hover {
    b {
      text-decoration: underline;
    }
  }
}

.resume {
  position: relative;
  background-color: var(--light);
  padding-top: 4rem;
}

.resume-pdf {
  width: 100%;
  height: 1200px;
  border-radius: calc(var(--borderRadius) * 2);
  box-shadow: 1.5rem 1.5rem 0 0.2rem var(--teal);
  
  @include breakpoint("<=small") {
    display: none;
  }
}

.pdf-viewer {
  display: none;

  @include breakpoint("<=small") {
    display: block;
    border-radius: calc(var(--borderRadius) * 2);
  }
}
